[submodule "requirements/dist"]
	path = requirements/dist
	url = git://github.com/mozilla/caseconductor-ui-reqs.git
[submodule "requirements/vendor"]
	path = requirements/vendor
	url = git://github.com/mozilla/caseconductor-vendor-lib.git
[submodule "styleguide/vendor/kss"]
	path = styleguide/vendor/kss
	url = git://github.com/heikki/kss.git
